# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Logs
*.log
*.log.*

# JetBrains IDEs (e.g., IntelliJ, GoLand)
.idea/

# VSCode
.vscode/

# Mac OS folder attributes
.DS_Store

# Temporary files
tmp/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.ko

# Output of the Go coverage tool
*.cover

# Profile output
*.profile

# Compiled Go source files
*.cgo1.go

# Cached build results (since Go 1.10)
*.cache
build/

# Dependency management
go.sum
go.mod



# Executables produced by go build or go install
server
server.exe
builds
server/builds
server/builds/
builds/
builds/*
server/audio_files
server/audio_files/


# Ignore environment local settings file
.env
